/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/
snow_se_tools-*.tar
/priv/static/assets/
k8s/base/secret.yaml
secrets.env
/priv/static/cache_manifest.json
npm-debug.log
/assets/node_modules/
.elixir_ls/
.env
*.env
.expert/

tmp.json

