PORT=4000
PHX_SERVER=false
SECRET_KEY_BASE=
DNS_CLUSTER_QUERY=
OIDC_ISSUER=https://keycloak.example.com/realms/myrealm
OIDC_CLIENT_ID=
AI_ENDPOINT=https://api.openai.com/v1/chat/completions
AI_API_KEY=
AI_MODEL=gpt-4o
