POSTGRES_USER=not_postgres
POSTGRES_DB=snow_se_tools
POSTGRES_HOST=postgres
OIDC_ISSUER=
OIDC_CLIENT_ID=
AI_ENDPOINT=
AI_API_KEY=
# DATABASE_URL: ecto://syllabus_user:syllabus_pass@db/snow_se_tools_dev
DATABASE_URL= 